/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

/* Set the background color for the body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d2d2d2;
    height: 100dvh;
}

/* Ensure images scale properly */
img {
    max-width: 100%;
    height: auto;
}
#reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
input #rPhone::-webkit-outer-spin-button,
input#rPhone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
    width: 150%;
}
h1{
    font-size: 60PX;
}
p,a{
    color: gray;
}
#rPhone,#rPass{
    text-align: center;
    background: transparent;
    padding: 1rem;
}
button{
    font-weight: 500;
    font-size: larger;
    padding: 1rem 2rem;
    border: 0px;
    border-radius: 10px;
    transition: ease-in-out 0.1s;
}
button:active{
    scale: 0.95;
    opacity: 0.8;
}